
.apple{
    border-radius: 30%;
    background-color: green;
}
.broccoli{
    border-radius: 30%;
    background-color: red;
}
.circular{
    border-radius: 100%;
}
h1{
    font-size: 58px;
    color: red;
}
img:hover{
    background-color: gold;
}
#heading{
    color:blue;
}